node_modules
npm-debug.log
.env
.env.local
.env.*.local
.next
.git
.gitignore
coverage
test
*.spec.ts
jest.config.js
.prettierrc
.eslintignore
README.md
.vscode
.idea
.DS_Store
.nvmrc
public/examples
