node_modules
npm-debug.log
dist
.env
.env.development
.env.local
.env.*.local
.git
.gitignore
.next
coverage
test
*.spec.ts
jest.config.js
.prettierrc
.eslintignore
README.md
.vscode
.idea
.DS_Store
.nvmrc
infra/docker
